@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  padding-left: .5px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

ul {
  list-style: none;
}

/* ========================================
   DESKTOP DROPDOWN
   ======================================== */

@media (min-width: 768px) {

  .menu-item:hover > .submenu {
    display: block;
  }

}

/* =====================================
   DESKTOP NAVBAR
===================================== */

@media (min-width: 768px) {

  .menu-item > a {
    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      transform 0.2s ease;
  }


  .menu-item > a:hover {
    transform: translateY(-1px);
  }


  /* Open direct dropdown */

  .menu-item:hover > .submenu {
    display: block;
  }


  /* Dropdown menu items */

  .submenu .menu-item > a {
    width: 100%;
    border-radius: 0;
  }


  .submenu .menu-item > a:hover {
    transform: none;
  }

}

.adminmain {
  /* background-color: lightgreen; */
  /* margin-left: 23%; */
  margin-right: 20px;
  padding-right: 1%;
  padding-left: 23%;
}

